<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-vivid.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
	<div style="text-align: center; margin-top: 5%;">
		<span class="w3-vivid-red w3-hide-small" style=" font-size:45px;"><a id="indexPage" href="/index">DynamicSequence</a></span>
	</div>
    <div class="container">
        <form action="/action_page.php">
            <div class="row">
                <h2 style="text-align:center"></h2>

      			<div class="vl">
        				<span class="vl-innertext">or</span>
      			</div>
      			<div class="col">
        				<a href="#" class="fb btn"\>
          					<i class="fa fa-facebook fa-fw"></i> Facebook
         				</a>
        				<a href="#" class="twitter btn">
          					<i class="fa fa-twitter fa-fw"></i> Twitter
        				</a>
        				<a href="/auth/google" class="google btn">
							<i class="fa fa-google fa-fw"></i> Google
        				</a>
      			</div>
      			<div class="col">
        				<div class="hide-md-lg">
          					<p style="color: white;">Or sign in manually</p>
       					</div>
        				<input type="text" name="username" placeholder="Email Id" required>
        				<input type="password" name="password" placeholder="Password" required>
        				<input type="submit" value="Login">
      			</div>
    		</div>
  		</form>
	</div>
	<div class="bottom-container">
  		<div class="row">
    		<div class="col-register" width="100%">
				<a href="/RegisterUtil" style="color:white" class="btn">Don't have an account? Register</a>
			</div>
  		</div>
	</div>
	<div class="footer">
		<div class="w3-xlarge w3-section">
			<i class="fa fa-github-square w3-hover-opacity" aria-hidden="true"></i>
			<i class="fa fa-linkedin w3-hover-opacity" aria-hidden="true"></i>
			<i class="fa fa-instagram w3-hover-opacity" aria-hidden="true"></i>
			<i class="fa fa-facebook-square w3-hover-opacity" aria-hidden="true"></i>
		</div>
	</div>
</body>
</html>